.env

.ipynb_checkpoints/
.idea/
__pycache__/

store/models/mM*
store/plots
store/datasets
store/results

venv
.venv

# Normally, you would add this file to VCS but it's ignored here
# because of different torch GPU accelerators 
poetry.lock